Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.ControllerServer/Service References/UsuariosServer/Usuarios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44365/Usuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExamenCsi.Entities" />
  <xs:element name="InsertarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExamenCsi.Entities" minOccurs="0" name="usuario" nillable="true" type="q1:UsUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuariosObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuariosObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExamenCsi.Entities" minOccurs="0" name="UsuariosObtenerTodosResult" nillable="true" type="q2:ArrayOfUsUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>