Proyectos Prueba/Examenes/ExamenCSI/Proyecto/ExamenCsi/ExamenCsi.ControllerServer/Service References/UsuariosServer/Usuarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamenCsi.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamenCsi.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsUsuario" nillable="true" type="tns:UsUsuario" />
</xs:schema>