OriginacionMovil/Tareas/Tareas/Service References/ServiceReferenceExpedienteDigital/ExpedienteDigital1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://expedientes.ofconsultoria.com/ExpedienteDigital.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://expedientes.ofconsultoria.com/ExpedienteDigital.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://expedientes.ofconsultoria.com/ExpedienteDigital.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wsExpedientesDigitales" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExpedienteDigital_RespuestaExpediente_InputMessage">
    <wsdl:part name="parameters" element="tns:RespuestaExpediente" />
  </wsdl:message>
  <wsdl:message name="IExpedienteDigital_RespuestaExpediente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RespuestaExpedienteResponse" />
  </wsdl:message>
  <wsdl:message name="IExpedienteDigital_GuardarExpediente_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarExpediente" />
  </wsdl:message>
  <wsdl:message name="IExpedienteDigital_GuardarExpediente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarExpedienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IExpedienteDigital">
    <wsdl:operation name="RespuestaExpediente">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpedienteDigital/RespuestaExpediente" message="tns:IExpedienteDigital_RespuestaExpediente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpedienteDigital/RespuestaExpedienteResponse" message="tns:IExpedienteDigital_RespuestaExpediente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarExpediente">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpedienteDigital/GuardarExpediente" message="tns:IExpedienteDigital_GuardarExpediente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpedienteDigital/GuardarExpedienteResponse" message="tns:IExpedienteDigital_GuardarExpediente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExpedienteDigital" type="tns:IExpedienteDigital">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RespuestaExpediente">
      <soap:operation soapAction="http://tempuri.org/IExpedienteDigital/RespuestaExpediente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarExpediente">
      <soap:operation soapAction="http://tempuri.org/IExpedienteDigital/GuardarExpediente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>