OriginacionMovil/Tareas/Tareas/Service References/ServiceReferenceExpedienteDigital/ExpedienteDigital.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://expedientes.ofconsultoria.com/ExpedienteDigital.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wsExpedientesDigitales" />
  <xs:element name="RespuestaExpediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wsExpedientesDigitales" minOccurs="0" name="modelo" nillable="true" type="q1:ModeloRespuestaExpediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaExpedienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RespuestaExpedienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarExpediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wsExpedientesDigitales" minOccurs="0" name="modelo" nillable="true" type="q2:ModeloGuardarExpediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarExpedienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wsExpedientesDigitales" minOccurs="0" name="GuardarExpedienteResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>