Proyectos Trabajos/Broxel/Core-Process/Proyectos/WsBroxel/wsBroxel/Service References/wsMigraUsuarioToMyo/wsMigraUsuarioToMyo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MigraUsuariosBroxelNeg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MigraUsuariosBroxelNeg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseMigracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCliente" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorCuentas" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorTarjeta" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalUsuarios" type="xs:int" />
      <xs:element minOccurs="0" name="UserMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuariosMigradas" type="xs:int" />
      <xs:element minOccurs="0" name="UsuariosYaRegistradas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMigracion" nillable="true" type="tns:ResponseMigracion" />
</xs:schema>