Proyectos Trabajos/Broxel/Core-Process/Proyectos/WsBroxel/wsBroxel/Service References/wsMigraUsuarioToMyo/wsMigraUsuarioToMyo3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.75.23:8050/wsMigraUsuarioToMyo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMigraUsuariosToMyo" />
  <xs:import schemaLocation="http://192.168.75.23:8050/wsMigraUsuarioToMyo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MigraUsuariosBroxelNeg" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMigraUsuariosToMyo" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMigraUsuariosToMyo" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizaMigracionToMyo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsuarioBroxelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizaMigracionToMyoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MigraUsuariosBroxelNeg" minOccurs="0" name="RealizaMigracionToMyoResult" nillable="true" type="q3:ResponseMigracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>