OriginacionMovil/IBC/Service References/buroCredito/WSConsultaService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bean.consulta.ws.bc.com/" targetNamespace="http://bean.consulta.ws.bc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consultaCC" type="tns:consultaCC" />
  <xs:element name="consultaCCResponse" type="tns:consultaCCResponse" />
  <xs:element name="consultaXML" type="tns:consultaXML" />
  <xs:element name="consultaXMLResponse" type="tns:consultaXMLResponse" />
  <xs:complexType name="consultaCC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consulta" type="tns:consulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consulta">
    <xs:sequence>
      <xs:element name="Encabezado" type="tns:Encabezado" />
      <xs:element name="Personas" type="tns:Personas" />
      <xs:element minOccurs="0" name="Caracteristicas" type="tns:Caracteristicas" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Encabezado">
    <xs:sequence>
      <xs:element name="ClaveOtorgante" type="xs:string" />
      <xs:element name="NombreUsuario" type="xs:string" />
      <xs:element name="Password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Personas">
    <xs:sequence>
      <xs:element name="Persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="DetalleConsulta" type="tns:DetalleConsulta" />
      <xs:element name="Nombre" type="tns:Nombre" />
      <xs:element name="Domicilios" type="tns:Domicilios" />
      <xs:element name="Empleos" type="tns:Empleos" />
      <xs:element name="CuentasReferencia" type="tns:CuentasReferencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DetalleConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolioConsultaOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoRequerido" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveUnidadMonetaria" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteContrato" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFirma" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Nombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoAdicional" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" type="xs:string" />
      <xs:element minOccurs="0" name="CURP" type="xs:string" />
      <xs:element minOccurs="0" name="Nacionalidad" type="xs:string" />
      <xs:element minOccurs="0" name="Residencia" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveElectorIFE" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDependientes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NombreResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Nombre">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaDefuncion" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Domicilios">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Domicilio" type="tns:Domicilio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Domicilio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" type="xs:string" />
      <xs:element minOccurs="0" name="ColoniaPoblacion" type="xs:string" />
      <xs:element minOccurs="0" name="DelegacionMunicipio" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" name="CP" type="xs:string" />
      <xs:element minOccurs="0" name="FechaResidencia" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefono" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDomicilio" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAsentamiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DomicilioResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Domicilio">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaRegistroDomicilio" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Empleos">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Empleo" nillable="true" type="tns:Empleo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Empleo">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreEmpresa" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" type="xs:string" />
      <xs:element minOccurs="0" name="ColoniaPoblacion" type="xs:string" />
      <xs:element minOccurs="0" name="DelegacionMunicipio" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" name="CP" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefono" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" type="xs:string" />
      <xs:element minOccurs="0" name="FechaContratacion" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveMoneda" type="xs:string" />
      <xs:element minOccurs="0" name="SalarioMensual" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimoDiaEmpleo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmpleoResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Empleo">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaVerificacionEmpleo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CuentasReferencia">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NumeroCuenta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Caracteristicas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Plantilla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaCCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="tns:ErrorResp" />
      <xs:element name="Personas" type="tns:PersonasResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaveOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="FolioConsultaOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoRequerido" type="xs:string" />
      <xs:element minOccurs="0" name="Errores" type="tns:ErroresResp" />
      <xs:element name="AR" nillable="true" type="tns:AR" />
      <xs:element name="UR" nillable="true" type="tns:UR" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErroresResp">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DescripcionError" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AR">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReferenciaOperador" type="xs:string" />
      <xs:element minOccurs="0" name="SujetoNoAutenticado" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveOPasswordErroneo" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorSistemaBC" type="xs:string" />
      <xs:element minOccurs="0" name="EtiquetaSegmentoErronea" type="xs:string" />
      <xs:element minOccurs="0" name="FaltaCampoRequerido" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UR">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroReferenciaOperador" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudClienteErronea" type="xs:string" />
      <xs:element minOccurs="0" name="VersionProporcionadaErronea" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoSolicitadoErroneo" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordOClaveErronea" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoRequeridoNoProporcionado" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaInformacionValidaCliente" type="xs:string" />
      <xs:element minOccurs="0" name="InformacionErroneaParaConsulta" type="xs:string" />
      <xs:element minOccurs="0" name="ValorErroneoCampoRelacionado" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorSistemaBuroCredito" type="xs:string" />
      <xs:element minOccurs="0" name="EtiquetaSegmentoErronea" type="xs:string" />
      <xs:element minOccurs="0" name="OrdenErroneoSegmento" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroErroneoSegmentos" type="xs:string" />
      <xs:element minOccurs="0" name="FaltaCampoRequerido" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorReporteBloqueado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonasResp">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Persona" type="tns:PersonaResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonaResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Encabezado" type="tns:EncabezadoResp" />
      <xs:element minOccurs="0" name="Nombre" type="tns:NombreResp" />
      <xs:element minOccurs="0" name="Domicilios" type="tns:DomiciliosResp" />
      <xs:element minOccurs="0" name="Empleos" type="tns:EmpleosResp" />
      <xs:element minOccurs="0" name="Mensajes" type="tns:MensajesResp" />
      <xs:element minOccurs="0" name="Cuentas" type="tns:CuentasResp" />
      <xs:element minOccurs="0" name="ConsultasEfectuadas" type="tns:ConsultasEfectuadasResp" />
      <xs:element minOccurs="0" name="DeclaracionesConsumidor" type="xs:string" />
      <xs:element minOccurs="0" name="Caracteristicas" type="tns:CaracteristicasRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EncabezadoResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Version" type="xs:string" />
      <xs:element minOccurs="0" name="FolioConsultaOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="ExpedienteEncontrado" type="xs:string" />
      <xs:element minOccurs="0" name="FolioConsulta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DomiciliosResp">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Domicilio" type="tns:DomicilioResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmpleosResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleo" nillable="true" type="tns:EmpleoResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MensajesResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mensaje" nillable="true" type="tns:MensajeResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MensajeResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoMensaje" type="xs:string" />
      <xs:element minOccurs="0" name="Leyenda" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CuentasResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:CuentaResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CuentaResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:string" />
      <xs:element minOccurs="0" name="RegistroImpugnado" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="NombreOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaActual" type="xs:string" />
      <xs:element minOccurs="0" name="TipoResponsabilidad" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCredito" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveUnidadMonetaria" type="xs:string" />
      <xs:element minOccurs="0" name="ValorActivoValuacion" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPagos" type="xs:string" />
      <xs:element minOccurs="0" name="FrecuenciaPagos" type="xs:string" />
      <xs:element minOccurs="0" name="MontoPagar" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAperturaCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimoPago" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimaCompra" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCierreCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="FechaReporte" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaFechaSaldoCero" type="xs:string" />
      <xs:element minOccurs="0" name="Garantia" type="xs:string" />
      <xs:element minOccurs="0" name="CreditoMaximo" type="xs:string" />
      <xs:element minOccurs="0" name="SaldoActual" type="xs:string" />
      <xs:element minOccurs="0" name="LimiteCredito" type="xs:string" />
      <xs:element minOccurs="0" name="SaldoVencido" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPagosVencidos" type="xs:string" />
      <xs:element minOccurs="0" name="PagoActual" type="xs:string" />
      <xs:element minOccurs="0" name="HistoricoPagos" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRecienteHistoricoPagos" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAntiguaHistoricoPagos" type="xs:string" />
      <xs:element minOccurs="0" name="ClavePrevencion" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPagosReportados" type="xs:string" />
      <xs:element minOccurs="0" name="PeorAtraso" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPeorAtraso" type="xs:string" />
      <xs:element minOccurs="0" name="SaldoVencidoPeorAtraso" type="xs:string" />
      <xs:element minOccurs="0" name="MontoUltimoPago" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultasEfectuadasResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultaEfectuada" nillable="true" type="tns:ConsultaEfectuadaResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaEfectuadaResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaConsulta" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="NombreOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCredito" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveUnidadMonetaria" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteCredito" type="xs:string" />
      <xs:element minOccurs="0" name="TipoResponsabilidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaracteristicasRespBC">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Caracteristica" nillable="true" type="tns:CaracteristicasBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaracteristicasBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Plantilla" type="xs:string" />
      <xs:element minOccurs="0" name="IdCaracteristica" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCaracteristica" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoError" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consulta" type="tns:ConsultaBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaBC">
    <xs:sequence>
      <xs:element name="Personas" type="tns:PersonasBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonasBC">
    <xs:sequence>
      <xs:element name="Persona" type="tns:PersonaBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonaBC">
    <xs:sequence>
      <xs:element name="Encabezado" type="tns:EncabezadoBC" />
      <xs:element minOccurs="0" name="Nombre" type="tns:NombreBC" />
      <xs:element name="Domicilios" type="tns:DomiciliosBC" />
      <xs:element minOccurs="0" name="Empleos" type="tns:EmpleosBC" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuentaC" nillable="true" type="tns:CuentaClienteBC" />
      <xs:element minOccurs="0" name="Autentica" type="tns:AutenticacionBC" />
      <xs:element minOccurs="0" name="Caracteristicas" type="tns:Caracteristicas" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EncabezadoBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Version" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferenciaOperador" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoRequerido" type="xs:string" />
      <xs:element minOccurs="0" name="ClavePais" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificadorBuro" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="Password" type="xs:string" />
      <xs:element minOccurs="0" name="TipoConsulta" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContrato" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveUnidadMonetaria" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteContrato" type="xs:string" />
      <xs:element minOccurs="0" name="Idioma" type="xs:string" />
      <xs:element minOccurs="0" name="TipoSalida" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EncabezadoRespBC">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EncabezadoBC">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClaveOtorgante" type="xs:string" />
          <xs:element minOccurs="0" name="ClaveRetornoConsumidorPrincipal" type="xs:string" />
          <xs:element minOccurs="0" name="ClaveRetornoConsumidorSecundario" type="xs:string" />
          <xs:element name="NumeroControlConsulta" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NombreBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoAdicional" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" type="xs:string" />
      <xs:element minOccurs="0" name="Prefijo" type="xs:string" />
      <xs:element minOccurs="0" name="Sufijo" type="xs:string" />
      <xs:element minOccurs="0" name="Nacionalidad" type="xs:string" />
      <xs:element minOccurs="0" name="Residencia" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLicenciaConducir" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCedulaProfesional" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRegistroElectoral" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveImpuestosOtroPais" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveOtroPais" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDependientes" type="xs:string" />
      <xs:element minOccurs="0" name="EdadesDependientes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NombreRespBC">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NombreBC">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaRecepcionInformacionDependientes" type="xs:string" />
          <xs:element minOccurs="0" name="FechaDefuncion" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DomiciliosBC">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Domicilio" nillable="true" type="tns:Direccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion1" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion2" type="xs:string" />
      <xs:element minOccurs="0" name="ColoniaPoblacion" type="xs:string" />
      <xs:element minOccurs="0" name="DelegacionMunicipio" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" name="CP" type="xs:string" />
      <xs:element minOccurs="0" name="FechaResidencia" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefono" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDomicilio" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorEspecialDomicilio" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DireccionRespBC">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Direccion">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaReporteDireccion" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmpleosBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleo" nillable="true" type="tns:EmpleoBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmpleoBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreEmpresa" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion1" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion2" type="xs:string" />
      <xs:element minOccurs="0" name="ColoniaPoblacion" type="xs:string" />
      <xs:element minOccurs="0" name="DelegacionMunicipio" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" name="CP" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefono" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" type="xs:string" />
      <xs:element minOccurs="0" name="FechaContratacion" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveMonedaSalario" type="xs:string" />
      <xs:element minOccurs="0" name="Salario" type="xs:string" />
      <xs:element minOccurs="0" name="BaseSalarial" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroEmpleado" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimoDiaEmpleo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmpleoRespBC">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmpleoBC">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaReportoEmpleo" type="xs:string" />
          <xs:element minOccurs="0" name="FechaVerificacion" type="xs:string" />
          <xs:element minOccurs="0" name="ModoVerificacion" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CuentaClienteBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="NombreOtorgante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutenticacionBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoReporte" type="xs:string" />
      <xs:element minOccurs="0" name="TipoSalidaAU" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaOperador" type="xs:string" />
      <xs:element minOccurs="0" name="TarjetaCredito" type="xs:string" />
      <xs:element minOccurs="0" name="UltimosCuatroDigitos" type="xs:string" />
      <xs:element minOccurs="0" name="EjercidoCreditoHipotecario" type="xs:string" />
      <xs:element minOccurs="0" name="EjercidoCreditoAutomotriz" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:RespuestaBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RespuestaBC">
    <xs:sequence>
      <xs:element name="Personas" type="tns:PersonasRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonasRespBC">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Persona" type="tns:PersonaRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonaRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Encabezado" type="tns:EncabezadoRespBC" />
      <xs:element minOccurs="0" name="Nombre" type="tns:NombreRespBC" />
      <xs:element minOccurs="0" name="Domicilios" type="tns:DomiciliosRespBC" />
      <xs:element minOccurs="0" name="Empleos" type="tns:EmpleosRespBC" />
      <xs:element minOccurs="0" name="Cuentas" type="tns:CuentasRBC" />
      <xs:element minOccurs="0" name="ConsultasEfectuadas" type="tns:ConsultasEfectuadasRespBC" />
      <xs:element minOccurs="0" name="ResumenReporte" type="tns:ResumenReporteRBC" />
      <xs:element minOccurs="0" name="HawkAlertConsulta" type="tns:HawkAlertCRespBC" />
      <xs:element minOccurs="0" name="HawkAlertBD" type="tns:HawkAlertDBRespBC" />
      <xs:element minOccurs="0" name="DeclaracionesCliente" type="tns:DeclaracionesClienteRespBC" />
      <xs:element minOccurs="0" name="ScoreBuroCredito" type="tns:ScoreBCRespBC" />
      <xs:element minOccurs="0" name="Error" type="tns:ErrorRespBC" />
      <xs:element minOccurs="0" name="ReporteImpreso" type="xs:string" />
      <xs:element minOccurs="0" name="Caracteristicas" type="tns:CaracteristicasRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DomiciliosRespBC">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Domicilio" nillable="true" type="tns:DireccionRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmpleosRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleo" nillable="true" type="tns:EmpleoRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CuentasRBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:CuentasRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CuentasRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:string" />
      <xs:element minOccurs="0" name="RegistroImpugnado" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="NombreOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefonoOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificadorSociedadInformacionCrediticia" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCuentaActual" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorTipoResponsabilidad" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContrato" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveUnidadMonetaria" type="xs:string" />
      <xs:element minOccurs="0" name="ValorActivoValuacion" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPagos" type="xs:string" />
      <xs:element minOccurs="0" name="FrecuenciaPagos" type="xs:string" />
      <xs:element minOccurs="0" name="MontoPagar" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAperturaCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimoPago" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimaCompra" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCierreCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="FechaReporte" type="xs:string" />
      <xs:element minOccurs="0" name="ModoReportar" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaFechaSaldoCero" type="xs:string" />
      <xs:element minOccurs="0" name="Garantia" type="xs:string" />
      <xs:element minOccurs="0" name="CreditoMaximo" type="xs:string" />
      <xs:element minOccurs="0" name="SaldoActual" type="xs:string" />
      <xs:element minOccurs="0" name="LimiteCredito" type="xs:string" />
      <xs:element minOccurs="0" name="SaldoVencido" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPagosVencidos" type="xs:string" />
      <xs:element minOccurs="0" name="FormaPagoActual" type="xs:string" />
      <xs:element minOccurs="0" name="HistoricoPagos" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMasRecienteHistoricoPagos" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMasAntiguaHistoricoPagos" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveObservacion" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPagosReportados" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPagosCalificadosMOP2" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPagosCalificadosMOP3" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPagosCalificadosMOP4" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPagosCalificadosMOP5" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteSaldoMorosidadHistMasGrave" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHistoricaMorosidadMasGrave" type="xs:string" />
      <xs:element minOccurs="0" name="MopHistoricoMorosidadMasGrave" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicioReestructura" type="xs:string" />
      <xs:element minOccurs="0" name="MontoUltimoPago" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultasEfectuadasRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultaEfectuada" nillable="true" type="tns:ConsultaEfectuadaRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultaEfectuadaRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaConsulta" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificacionBuro" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="NombreOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoOtorgante" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContrato" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveUnidadMonetaria" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteContrato" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorTipoResponsabilidad" type="xs:string" />
      <xs:element minOccurs="0" name="ConsumidorNuevo" type="xs:string" />
      <xs:element minOccurs="0" name="ResultadoFinal" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificadorOrigenConsulta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResumenReporteRBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResumenReporte" nillable="true" type="tns:ResumenReporteRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResumenReporteRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaIngresoBD" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP7" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP6" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP5" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP4" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP3" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP2" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP1" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP0" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOPUR" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCuentas" type="xs:string" />
      <xs:element minOccurs="0" name="CuentasPagosFijosHipotecas" type="xs:string" />
      <xs:element minOccurs="0" name="CuentasRevolventesAbiertas" type="xs:string" />
      <xs:element minOccurs="0" name="CuentasCerradas" type="xs:string" />
      <xs:element minOccurs="0" name="CuentasNegativasActuales" type="xs:string" />
      <xs:element minOccurs="0" name="CuentasClavesHistoriaNegativa" type="xs:string" />
      <xs:element minOccurs="0" name="CuentasDisputa" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSolicitudesUltimos6Meses" type="xs:string" />
      <xs:element minOccurs="0" name="NuevaDireccionReportadaUltimos60Dias" type="xs:string" />
      <xs:element minOccurs="0" name="MensajesAlerta" type="xs:string" />
      <xs:element minOccurs="0" name="ExistenciaDeclaracionesConsumidor" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMoneda" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCreditosMaximosRevolventes" type="xs:string" />
      <xs:element minOccurs="0" name="TotalLimitesCreditoRevolventes" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSaldosActualesRevolventes" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSaldosVencidosRevolventes" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPagosRevolventes" type="xs:string" />
      <xs:element minOccurs="0" name="PctLimiteCreditoUtilizadoRevolventes" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCreditosMaximosPagosFijos" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSaldosActualesPagosFijos" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSaldosVencidosPagosFijos" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPagosPagosFijos" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP96" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP97" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroMOP99" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAperturaCuentaMasAntigua" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAperturaCuentaMasReciente" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSolicitudesReporte" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSolicitudReporteMasReciente" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTotalCuentasDespachoCobranza" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAperturaCuentaMasRecienteDespachoCobranza" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTotalSolicitudesDespachosCobranza" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSolicitudMasRecienteDespachoCobranza" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HawkAlertCRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HawkAlertC" nillable="true" type="tns:HawkAlertConsultaRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HawkAlertConsultaRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaReporte" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoClave" type="xs:string" />
      <xs:element minOccurs="0" name="TipoInstitucion" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HawkAlertDBRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HawkAlertBD" nillable="true" type="tns:HawkAlertBDRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HawkAlertBDRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaReporte" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoClave" type="xs:string" />
      <xs:element minOccurs="0" name="TipoInstitucion" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeclaracionesClienteRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeclaracionConsumidor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScoreBCRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoreBC" nillable="true" type="tns:ScoreBuroCreditoRespBC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScoreBuroCreditoRespBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreScore" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoScore" type="xs:string" />
      <xs:element minOccurs="0" name="ValorScore" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="CodigoRazon" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoError" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorRespBC">
    <xs:sequence>
      <xs:element name="AR" type="tns:AR" />
      <xs:element name="UR" type="tns:UR" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>