OriginacionMovil/Tareas/Tareas/Service References/MesaControl/MesaControl3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PubliPayments" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PubliPayments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2829/MesaControl.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Modelos.ModeloEnviarDocumento">
    <xs:sequence>
      <xs:element name="Url" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Xml" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Modelos.ModeloEnviarDocumento" nillable="true" type="tns:Modelos.ModeloEnviarDocumento" />
  <xs:complexType name="Modelos.Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Modelos.Respuesta" nillable="true" type="tns:Modelos.Respuesta" />
  <xs:complexType name="Modelos.ModeloRespuestaExpediente">
    <xs:sequence>
      <xs:element name="Estatus" type="xs:int" />
      <xs:element name="IdSolicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element name="Token" nillable="true" type="xs:string" />
      <xs:element name="Usuariorespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Modelos.ModeloRespuestaExpediente" nillable="true" type="tns:Modelos.ModeloRespuestaExpediente" />
</xs:schema>