OriginacionMovil/Tareas/Tareas/Service References/MesaControl/MesaControl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2829/MesaControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PubliPayments" />
  <xs:element name="EnviarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PubliPayments" minOccurs="0" name="modelo" nillable="true" type="q1:Modelos.ModeloEnviarDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PubliPayments" minOccurs="0" name="EnviarDocumentoResult" nillable="true" type="q2:Modelos.Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PubliPayments" minOccurs="0" name="modelo" nillable="true" type="q3:Modelos.ModeloRespuestaExpediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PubliPayments" minOccurs="0" name="RespuestaDocumentoResult" nillable="true" type="q4:Modelos.Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>