OriginacionMovil/Tareas/Tareas/Service References/MesaControl/MesaControl1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2829/MesaControl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2829/MesaControl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2829/MesaControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PubliPayments" />
      <xsd:import schemaLocation="http://localhost:2829/MesaControl.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMesaControl_EnviarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDocumento" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_EnviarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_RespuestaDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:RespuestaDocumento" />
  </wsdl:message>
  <wsdl:message name="IMesaControl_RespuestaDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:RespuestaDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesaControl">
    <wsdl:operation name="EnviarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/EnviarDocumento" message="tns:IMesaControl_EnviarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/EnviarDocumentoResponse" message="tns:IMesaControl_EnviarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RespuestaDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaControl/RespuestaDocumento" message="tns:IMesaControl_RespuestaDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaControl/RespuestaDocumentoResponse" message="tns:IMesaControl_RespuestaDocumento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMesaControl" type="tns:IMesaControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarDocumento">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/EnviarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespuestaDocumento">
      <soap:operation soapAction="http://tempuri.org/IMesaControl/RespuestaDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>