Proyectos Prueba/Examenes/Base/Examen/Examen.ServiceController/Connected Services/UsersServiceClient/UsersService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18815/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Examen.Models" />
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Examen.Models" minOccurs="0" name="GetUserResult" nillable="true" type="q1:UsUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>