Proyectos Prueba/Examenes/Base/Examen/Examen.ServiceController/Connected Services/UsersServiceClient/UsersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Examen.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Examen.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="UsCatTipoUsuario" nillable="true" type="tns:UsCatTipoUsuario" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsUsuario" nillable="true" type="tns:UsUsuario" />
  <xs:complexType name="UsCatTipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="TipoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsUsuario" nillable="true" type="tns:ArrayOfUsUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsCatTipoUsuario" nillable="true" type="tns:UsCatTipoUsuario" />
  <xs:complexType name="ArrayOfUsUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsUsuario" nillable="true" type="tns:UsUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsUsuario" nillable="true" type="tns:ArrayOfUsUsuario" />
</xs:schema>