Proyectos Trabajos/Broxel/Core-Process/Proyectos/WsBroxel/wsBroxel/Service References/wsCuenta/CASA_SRTMX_Cuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://ws.apache.org/ns/synapse" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://ws.apache.org/ns/synapse" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apache.org/ns/synapse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.apache.org/ns/synapse">
      <xsd:complexType name="Autenticacion">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/REQ.: usuario WS y pass para autenticar en la operacion del servicio . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Usuario" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Identificacion del usuario otorgado para Webservice .
                        Tipo alfanumerico , Largo 03 .. 24 .
                        Ejemplo: Empresa01 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Password" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Password otorgado para dicho usuario: valor que el sistema Cliente
                        debe cifrar con el  algoritmo RSA, haciendo uso de la llave publica
                        otorgada para datos sensibles de solicitudes, y que posteriomrmente
                        debe encodear a base 64 para su envio .
                        Tipo base64 , Largo variable .
                        Ejemplo: YW55IGNhcm5hbCBwbGVhcw== .
                        Referencia : MIME base 64 en http://es.wikipedia.org/wiki/Base64 </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Originador">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/REQ.: persona solicitante y zona horaria deseada </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Solicitante" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Cadena de uso libre con datos respecto a la persona que, desde
                        el equipo originador perteneciente al sistema Cliente, realiza
                        la operacion. Puede ser una identificacion de usuario en dicho
                        Sistema, o bien puede ser un apellido y nombre, etc. , para asi
                        dejar registro respecto a la persona que solicita la operacion
                        y en los mismos terminos de identificacion del sistema Cliente .
                        Tipo frase_ext , Largo 03..24 .
                        Ejemplo: x1Z .
                        Ejemplo: juanCruz .
                        Ejemplo: Centro 48, PC 15 .
                        Ejemplo: Ana Rosaura 481 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ZonaHoraria" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                         Zona horaria valida americana del originador de la operacion, la
                         cual sera utilizada para expresar informaciones de fecha/hora en
                         la respuesta del requerimiento .
                         Tipo zona_horaria_am , Largo 12..50 .
                         Ejemplo : America/Managua .
                         Referencia : http://www.php.net/manual/es/timezones.america.php . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseWS">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/RTA.: Codigo, Descripcion de Respuesta y Ticket de servicio . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Codigo" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Codigo de respuesta devuelto por el servicio .
                        Tipo cadena , Valores posbibles y Largo segun rangos :
                          -999 .. -001 : Rechazos del servicio   , largo 04..04 .
                            00         : Aprobada                , largo 02..02 .
                            01 ..  999 : Rechazos de autorizador , largo 02..03 .
                        Ejemplo : -030 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Descripcion" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Descripcion asociada al Codigo de respuesta .
                        Tipo cadena , largo variable .
                        Ejemplo : Cuenta inexistente . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TicketWS" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Numero de ticket de atencion de servicio .
                        Tipo digito , Largo 09..09 o bien valor fijo 'N/D' .
                        Ejemplo : 682044868 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Atencion">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/RTA.: Momento de inicio, fin y tiempo de proceso . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Inicio" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Momento de inicio, expresado en terminos de la zona horaria requerida .
                        Tipo fecha_hora, Largo 19 o bien valor fijo 'N/D' .
                        Ejemplo: 2013-11-29 15:00:51 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Fin" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Momento de fin, expresado en terminos de la zona horaria requerida .
                        Tipo fecha_hora, Largo 19 o bien valor fijo 'N/D' .
                        Ejemplo: 2013-11-29 15:00:52 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Tiempo" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Tiempo de procesamiento de operacion, expresado en segundos .
                        Tipo decimal , largo variable .
                        Ejemplo: 0.21 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Especificacion">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/RTA.: Aperturas de codigo y descripcion en datos devueltos . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Codigo" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Codigo asociado al item al cual se refiere .
                        El tipo de dato y su largo es variable segun el item al cual se refiere . 
                        En caso no se haya podido obtener, se impone valor fijo N/D.
                        Ejemplo : 484 , para item de moneda .  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Descripcion" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Descripcion asociada al Codigo .
                        Tipo cadena , largo variable .
                        En caso no se haya podido obtener, se impone valor fijo N/D.
                        Ejemplo : Peso mexicano .  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Indicadores">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/RTA.: Indicadores de comportamiento de la cuenta . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="VIP" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Indica si la cuenta es VIP, salteando validaciones de RAMP .
                        Tipo alfabetico , largo 01..01, valores S o N .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="HCC" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Indica si la cuenta es Habilitable por Call Center de Credencial,
                        esto es : si la puede desbloquear o no, habilitar o no.
                        Tipo alfabetico , largo 01..01, valores S o N .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ULC" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Indica si en operaciones de autorizacion, ademas de validar los importes
                        disponibles, tambien se debe Usar el Limite de Compra como factor de 
                        verificacion de fondos suficientes.
                        Tipo alfabetico , largo 01..01, valores S o N .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MCC" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Maxima cantidad de cuotas para operaciones.
                        Tipo digito, largo 02..02 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Actividad">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/RTA.: Resumen de momentos relevantes de la cuenta . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="MomentoRenewal" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Fecha y hora usada como punto de partida para recomponer disponibles
                        en el proceso de actualizacion desde Sistema Central SPC, en terminos
                        de la zona horaria solicitada en el requerimiento, o valor fijo N/D
                        Tipo fecha_hora , Largo 19..19 , o valor fijo N/D si no tiene.
                        Ejemplo, si tiene renewal : 2013-12-10 01:35:05 . 
                        Ejemplo, si no la tiene : N/D . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MomentoUltimaActualizacion" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Fecha y hora de ultima modificacion de los datos de la cuenta, 
                        en terminos de la zona horaria solicitada en el requerimiento
                        Tipo fecha_hora , Largo 19..19
                        Ejemplo: 2013-12-10 15:35:42 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MomentoUltimaOperacionAprobada" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Fecha y hora de ultima operacion aprobada, en terminos de la 
                        zona horaria solicitada en el requerimiento, o valor fijo N/D
                        Tipo fecha_hora , Largo 19..19 , o valor fijo N/D si no tiene.
                        Ejemplo, si tiene operacion aprobada : 2013-12-10 15:35:42 . 
                        Ejemplo, si no la tiene : N/D . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MomentoUltimaOperacionDenegada" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Fecha y hora de ultima operacion denegada, en terminos de la 
                        zona horaria solicitada en el requerimiento, o valor fijo N/D
                        Tipo fecha_hora , Largo 19..19 , o valor fijo N/D si no tiene.
                        Ejemplo, si tiene operacion denegada : 2013-12-10 15:35:40 . 
                        Ejemplo, si no la tiene : N/D . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MomentoUltimoBloqueo" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Fecha y hora de ultimo cambio de estado de la cuenta por el cual
                        la misma haya quedado inhabilitada: O sea Bloqueada, en terminos
                        de la zona horaria pedida en el requerimiento, o valor fijo N/D
                        Tipo fecha_hora , Largo 19..19 , o valor fijo N/D si no tiene.
                        Ejemplo, si tiene bloqueo : 2013-12-10 10:01:01 . 
                        Ejemplo, si no lo tiene : N/D . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MomentoUltimoDesbloqueo" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Fecha y hora de ultimo cambio de estado de la cuenta por el cual
                        la misma haya quedado habilitada: O sea desbloqueada, en terminos
                        de la zona horaria pedida en el requerimiento, o valor fijo N/D
                        Tipo fecha_hora , Largo 19..19 , o valor fijo N/D si no tiene.
                        Ejemplo, si tiene bloqueo : 2013-12-10 15:35:41 . 
                        Ejemplo, si no lo tiene : N/D . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Importes">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/RTA.: Para modularizacion de disponibles y limites . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Compras" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Disponible o Limite de compras, segun corresponda, expresado en 
                        terminos de la Moneda asociada a la cuenta.
                        Tipo decimal, largo 04..10 : puede tener valor negativo
                        Ejemplos, -15.44 , -0.05 , -1234.56, 0.00, 0.01, 1234.56 .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Cuotas" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Disponible o Limite de cuotas, segun corresponda, expresado en 
                        terminos de la Moneda asociada a la cuenta.
                        Tipo decimal, largo 04..10 : puede tener valor negativo
                        Ejemplos, -15.44 , -0.05 , -1234.56, 0.00, 0.01, 1234.56 .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Adelantos" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Disponible o Limite de adelantos, segun corresponda, expresado en 
                        terminos de la Moneda asociada a la cuenta.
                        Tipo decimal, largo 04..10 : puede tener valor negativo
                        Ejemplos, -15.44 , -0.05 , -1234.56, 0.00, 0.01, 1234.56 .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Prestamos" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Disponible o Limite de prestamos, segun corresponda, expresado en 
                        terminos de la Moneda asociada a la cuenta.
                        Tipo decimal, largo 04..10 : puede tener valor negativo
                        Ejemplos, -15.44 , -0.05 , -1234.56, 0.00, 0.01, 1234.56 .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Liquidacion">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/RTA.: Informaciones sobre ultima liquidacion de la cuenta . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="FechaVencimiento" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Fecha de liquidacion, o valor fijo N/D si no la tuviese.
                        Tipo fecha , Largo 10..10 , o valor fijo N/D si no tiene.
                        Ejemplo, si tiene : 2014-01-06 . 
                        Ejemplo, si no lo tiene : N/D . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Saldo" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Saldo de liquidacion, en terminos de la Moneda de la cuenta.
                        Tipo decimal, largo 04..10 : puede tener valor negativo
                        Ejemplos, -15.44 , -0.05 , -1234.56, 0.00, 0.01, 1234.56 .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PagoMinimo" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Pago minimo de liquidacion, en terminos de la Moneda de la cuenta.
                        Tipo decimal, largo 04..10 : puede tener valor negativo
                        Ejemplos, -15.44 , -0.05 , -1234.56, 0.00, 0.01, 1234.56 .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SaldoDolar" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Saldo de liquidacion, en Dolar, de operaciones exterior
                        Tipo decimal, largo 04..10 : puede tener valor negativo
                        Ejemplos, -15.44 , -0.05 , -1234.56, 0.00, 0.01, 1234.56 .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleCuenta">
        <xsd:annotation>
          <xsd:documentation>
                    Tipo complejo p/RTA.: Datos detalle de una Cuenta . </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Numero" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Numero de cuenta involucrada.
                        Tipo digito, largo 09..09 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Estado" type="tns:Especificacion">
            <xsd:annotation>
              <xsd:documentation>
                        Identificacion y Descripcion de estado, o N/D si no
                        se cuenta con alguno o ambos datos, segun
                         Codigo      : Tipo digito , largo 02..02
                         Descripcion : Tipo cadena , largo variable
                        Detalles en tipo Especificacion . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Entidad" type="tns:Especificacion">
            <xsd:annotation>
              <xsd:documentation>
                        Identificacion y Descripcion de entidad de pertenencia,
                        o N/D si no se cuenta con alguno o ambos datos, segun:
                         Codigo      : Tipo digito , largo 03..03
                         Descripcion : Tipo cadena , largo variable
                        Detalles en tipo Especificacion . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Sucursal" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                        Sucursal asociada a la entidad de pertencia o N/D si
                        no se cuenta con la informacion, segun:
                        Tipo digito, largo 03..03 . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Producto" type="tns:Especificacion">
            <xsd:annotation>
              <xsd:documentation>
                        Identificacion y Descripcion de producto asociado, o 
                        N/D si no se cuenta con alguno o ambos datos, segun:
                         Codigo      : Tipo alfanumerico , largo 04..04
                         Descripcion : Tipo cadena , largo variable
                        Detalles en tipo Especificacion . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Pais" type="tns:Especificacion">
            <xsd:annotation>
              <xsd:documentation>
                        Identificacion y Descripcion de pais de pertenencia, basado 
                        en norma ISO 3166, o valor fijo N/D si no se cuenta con alguno
                        o ambos datos, segun:
                         Codigo      : Tipo digito , largo 03..03
                         Descripcion : Tipo cadena , largo variable
                        Detalles en tipo Especificacion . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Moneda" type="tns:Especificacion">
            <xsd:annotation>
              <xsd:documentation>
                        Identificacion y Descripcion de moneda en la cual se expresan 
                        los importes de la cuenta, basado en norma ISO 4217, o N/D si
                        no se cuenta con alguno o ambos datos, segun:
                         Codigo      : Tipo digito , largo 03..03
                         Descripcion : Tipo cadena , largo variable
                        Detalles en tipo Especificacion . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Indicadores" type="tns:Indicadores">
            <xsd:annotation>
              <xsd:documentation>
                        Flags de comportamiento de la cuenta, en cuanto a su 
                        habilitacion o evaluaciones en intentos de operaciones. 
                        Detalles en tipo Indicadores . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Actividad" type="tns:Actividad">
            <xsd:annotation>
              <xsd:documentation>
                        Informaciones de momentos de actividad de la cuenta, en
                        cuanto a actualizacion, operaciones aprobadas/rechazadas
                        y cambios de estado por bloqueo o desbloqueo
                        Detalles en tipo Actividad . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Disponibles" type="tns:Importes">
            <xsd:annotation>
              <xsd:documentation>
                        Especificacion de importes asociados a disponibles de la
                        cuenta, expresados en terminos de la moneda asociada.
                        Detalles en tipo Disponibles . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Limites" type="tns:Importes">
            <xsd:annotation>
              <xsd:documentation>
                        Especificacion de importes asociados a limites de la
                        cuenta, expresados en terminos de la moneda asociada.
                        Detalles en tipo Disponibles . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Liquidacion" type="tns:Liquidacion">
            <xsd:annotation>
              <xsd:documentation>
                        Especificacion de importes asociados a limites de la
                        cuenta, expresados en terminos de la moneda asociada.
                        Detalles en tipo Disponibles . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DesbloquearRequest">
        <xsd:annotation>
          <xsd:documentation>
                    Elemento para REQUERIMIENTO de operacion Desbloquear . </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Autenticacion" type="tns:Autenticacion">
              <xsd:annotation>
                <xsd:documentation>
                          Para autenticacion de usuario de WS .
                          Ya descripto en el tipo complejo Autenticacion . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Originador" type="tns:Originador">
              <xsd:annotation>
                <xsd:documentation>
                          Para identificacion del originador .
                          Ya descripto en el tipo complejo Originador . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Cuenta" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                          Numero de Cuenta a Desbloquear .
                          Tipo digito , Largo 09..09 .
                          Ejemplo : 701234567 . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DesbloquearResponse">
        <xsd:annotation>
          <xsd:documentation>
                    Elemento para RESPUESTA de operacion Desbloquear . </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Response" type="tns:ResponseWS">
              <xsd:annotation>
                <xsd:documentation>
                          Para Codigo y Descripcion de respuesta .
                          Ya descripto en el tipo complejo ResponseWS . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Atencion" type="tns:Atencion">
              <xsd:annotation>
                <xsd:documentation>
                          Para datos de atencion de operacion .
                          Ya descripto en el tipo complejo Atencion . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BloquearRequest">
        <xsd:annotation>
          <xsd:documentation>
                    Elemento para REQUERIMIENTO de operacion Bloquear . </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Autenticacion" type="tns:Autenticacion">
              <xsd:annotation>
                <xsd:documentation>
                          Para autenticacion de usuario de WS .
                          Ya descripto en el tipo complejo Autenticacion . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Originador" type="tns:Originador">
              <xsd:annotation>
                <xsd:documentation>
                          Para identificacion del originador .
                          Ya descripto en el tipo complejo Originador . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Cuenta" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                          Numero de Cuenta a Bloquear .
                          Tipo digito , Largo 09..09 .
                          Ejemplo : 701234567 . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BloquearResponse">
        <xsd:annotation>
          <xsd:documentation>
                    Elemento para RESPUESTA de operacion Bloquear . </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Response" type="tns:ResponseWS">
              <xsd:annotation>
                <xsd:documentation>
                          Para Codigo y Descripcion de respuesta .
                          Ya descripto en el tipo complejo ResponseWS . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Atencion" type="tns:Atencion">
              <xsd:annotation>
                <xsd:documentation>
                          Para datos de atencion de operacion .
                          Ya descripto en el tipo complejo Atencion . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarRequest">
        <xsd:annotation>
          <xsd:documentation>
                    Elemento para REQUERIMIENTO de operacion Consultar . </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Autenticacion" type="tns:Autenticacion">
              <xsd:annotation>
                <xsd:documentation>
                          Para autenticacion de usuario de WS .
                          Ya descripto en el tipo complejo Autenticacion . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Originador" type="tns:Originador">
              <xsd:annotation>
                <xsd:documentation>
                          Para identificacion del originador .
                          Ya descripto en el tipo complejo Originador . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Cuenta" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>
                          Numero de Cuenta a Consultar .
                          Tipo digito , Largo 09..09 .
                          Ejemplo : 701234567 . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarResponse">
        <xsd:annotation>
          <xsd:documentation>
                    Elemento para RESPUESTA de operacion Consultar . </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Response" type="tns:ResponseWS">
              <xsd:annotation>
                <xsd:documentation>
                          Para Codigo y Descripcion de respuesta .
                          Ya descripto en el tipo complejo ResponseWS . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Atencion" type="tns:Atencion">
              <xsd:annotation>
                <xsd:documentation>
                          Para datos de atencion de operacion .
                          Ya descripto en el tipo complejo Atencion . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Cuenta" type="tns:DetalleCuenta">
              <xsd:annotation>
                <xsd:documentation>
                          Contiene estructura con los detalles de la cuenta
                          Ya descripto en el tipo complejo DetalleCuenta
                          -&gt; Si la respuesta es rechazo, no estara presente
                          -&gt; Se la respuesta es aprobación, estara presente . </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarRequest">
    <wsdl:part name="ConsultarRequest" element="tns:ConsultarRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarResponse">
    <wsdl:part name="ConsultarResponse" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="DesbloquearRequest">
    <wsdl:part name="DesbloquearRequest" element="tns:DesbloquearRequest" />
  </wsdl:message>
  <wsdl:message name="DesbloquearResponse">
    <wsdl:part name="DesbloquearResponse" element="tns:DesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="BloquearRequest">
    <wsdl:part name="BloquearRequest" element="tns:BloquearRequest" />
  </wsdl:message>
  <wsdl:message name="BloquearResponse">
    <wsdl:part name="BloquearResponse" element="tns:BloquearResponse" />
  </wsdl:message>
  <wsdl:portType name="CASA_SRTMX_CuentaPortType">
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://ws.apache.org/ns/synapse/CASA_SRTMX_CuentaPortType/input3" message="tns:ConsultarRequest" />
      <wsdl:output wsaw:Action="http://ws.apache.org/ns/synapse/CASA_SRTMX_CuentaPortType/output3" message="tns:ConsultarResponse" />
    </wsdl:operation>
    <wsdl:operation name="Desbloquear">
      <wsdl:input wsaw:Action="http://ws.apache.org/ns/synapse/CASA_SRTMX_CuentaPortType/input1" message="tns:DesbloquearRequest" />
      <wsdl:output wsaw:Action="http://ws.apache.org/ns/synapse/CASA_SRTMX_CuentaPortType/output1" message="tns:DesbloquearResponse" />
    </wsdl:operation>
    <wsdl:operation name="Bloquear">
      <wsdl:input wsaw:Action="http://ws.apache.org/ns/synapse/CASA_SRTMX_CuentaPortType/input2" message="tns:BloquearRequest" />
      <wsdl:output wsaw:Action="http://ws.apache.org/ns/synapse/CASA_SRTMX_CuentaPortType/output2" message="tns:BloquearResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CASA_SRTMX_CuentaSoap11Binding" type="tns:CASA_SRTMX_CuentaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Desbloquear">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bloquear">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CASA_SRTMX_CuentaSoap12Binding" type="tns:CASA_SRTMX_CuentaPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Desbloquear">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bloquear">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CASA_SRTMX_CuentaHttpBinding" type="tns:CASA_SRTMX_CuentaPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="Consultar">
      <http:operation location="Consultar" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Desbloquear">
      <http:operation location="Desbloquear" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bloquear">
      <http:operation location="Bloquear" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CASA_SRTMX_Cuenta">
    <wsdl:port name="CASA_SRTMX_CuentaHttpSoap11Endpoint" binding="tns:CASA_SRTMX_CuentaSoap11Binding">
      <soap:address location="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="CASA_SRTMX_CuentaHttpsSoap11Endpoint" binding="tns:CASA_SRTMX_CuentaSoap11Binding">
      <soap:address location="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="CASA_SRTMX_CuentaHttpSoap12Endpoint" binding="tns:CASA_SRTMX_CuentaSoap12Binding">
      <soap12:address location="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="CASA_SRTMX_CuentaHttpsSoap12Endpoint" binding="tns:CASA_SRTMX_CuentaSoap12Binding">
      <soap12:address location="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="CASA_SRTMX_CuentaHttpsEndpoint" binding="tns:CASA_SRTMX_CuentaHttpBinding">
      <http:address location="https://10.16.20.70:8243/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpsEndpoint" />
    </wsdl:port>
    <wsdl:port name="CASA_SRTMX_CuentaHttpEndpoint" binding="tns:CASA_SRTMX_CuentaHttpBinding">
      <http:address location="http://10.16.20.70:8280/services/CASA_SRTMX_Cuenta.CASA_SRTMX_CuentaHttpEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>