Proyectos Trabajos/FreeLance/Suncorp/Aplicacion/Suncorp/Suncorp.ServiceController/Connected Services/UsuariosWcf/UsuariosWcf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Suncorp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Suncorp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsUsuarios" nillable="true" type="tns:UsUsuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsUsuarios" nillable="true" type="tns:ArrayOfUsUsuarios" />
  <xs:complexType name="UsUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Borrado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstatusUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdNivelUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuarios" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsUsuarios" nillable="true" type="tns:UsUsuarios" />
</xs:schema>