Proyectos Trabajos/FreeLance/Suncorp/Aplicacion/Suncorp/Suncorp.ServiceController/Connected Services/UsuariosWcf/UsuariosWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8328/ServiciosWcf/UsuariosWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Suncorp.Models" />
  <xs:element name="ObtenerTablaUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="ObtenerTablaUsuarioResult" nillable="true" type="q1:ArrayOfUsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q2:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="InsertarUsuarioResult" nillable="true" type="q3:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q4:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q5:UsUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="ObtenerUsuarioLoginResult" nillable="true" type="q6:WcfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>