OriginacionMovil/Dlls/Publipayments.Negocios.MYO/Publipayments.Negocios.MYO/Service References/wsClientes/Clientes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Clientes.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Clientes.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element name="_x003C_ABREV_ESTADO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CL_CATEG_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:CAT_CATEG_CLIENTES" />
      <xs:element name="_x003C_CL_CLIENTES1_x003E_k__BackingField" nillable="true" type="tns:ArrayOfCliente" />
      <xs:element name="_x003C_CL_CLIENTES2_x003E_k__BackingField" nillable="true" type="tns:Cliente" />
      <xs:element name="_x003C_CL_CTAS_CLIENTE_x003E_k__BackingField" nillable="true" type="tns:ArrayOfCuenta" />
      <xs:element name="_x003C_CL_DIR_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:ArrayOfDireccion" />
      <xs:element name="_x003C_CL_ID_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:ArrayOfIdentificacion" />
      <xs:element name="_x003C_CL_PERSONAS_FISICAS_x003E_k__BackingField" nillable="true" type="tns:PersonaFisica" />
      <xs:element name="_x003C_CL_PERSONAS_JURIDICAS_x003E_k__BackingField" nillable="true" type="tns:PersonaMoral" />
      <xs:element name="_x003C_COD_NIVEL_CUENTA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DES_CORREO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FEC_INGRESO_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_FOLIO_CONSULTA_BURO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_AGENCIA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CATCLIENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CLIENTE_GRUPO_FAM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CLIENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EJECUTIVO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_SECTORLABORAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_CLIE_MYO_CREDIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_ESTADO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_GEN_GRAFICO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_GRUPO_FAMILIAR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_PAGA_IDE_PR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_PAGA_IDE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_PAGA_ISR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_PAGA_IVA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_PERFIL_TRANSACCIONAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_TPOPERSONA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_TPORELACION_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NOMBRECNBV_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NOM_CLIENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NOM_ESTADO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NUMERO_EMPLEADOS_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_NUM_GRUPO_FAMILIAR_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_PERSONALIDAD_JURIDICA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RELACION_ACREDITADO_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_TAMANO_DEUDOR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_OTRO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_PRINCIPAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_SECUNDARIO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TIPOACREDITADORELACIONADO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TPOENVIO_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="CAT_CATEG_CLIENTES">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESC_CATEGCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_CategCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_EMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IND_PERMITE_PRODUCTOS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAT_CATEG_CLIENTES" nillable="true" type="tns:CAT_CATEG_CLIENTES" />
  <xs:complexType name="ArrayOfCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:Cuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuenta" nillable="true" type="tns:ArrayOfCuenta" />
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element name="_x003C_CL_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:Cliente" />
      <xs:element name="_x003C_CONVENIO_CIE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUENTA_CLABE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DESC_BANCO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DESC_SUCURSAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CLIENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_ENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_MONEDA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_DEFECTO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NUM_CUENTA_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
  <xs:complexType name="ArrayOfDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDireccion" nillable="true" type="tns:ArrayOfDireccion" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element name="_x003C_APDO_POSTAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CL_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:Cliente" />
      <xs:element name="_x003C_COD_POSTAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DIRECCIONCOMPLETA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CANTON_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CLIENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_COLONIA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_DIRECCION_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_PAIS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_PROVINCIA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TPO_DIRECCION_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
  <xs:complexType name="ArrayOfIdentificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Identificacion" nillable="true" type="tns:Identificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentificacion" nillable="true" type="tns:ArrayOfIdentificacion" />
  <xs:complexType name="Identificacion">
    <xs:sequence>
      <xs:element name="_x003C_CL_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:Cliente" />
      <xs:element name="_x003C_CL_TIPOS_ID_x003E_k__BackingField" nillable="true" type="tns:CAT_TIPOS_ID" />
      <xs:element name="_x003C_FEC_VENCIM_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ID_CLIENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_TIPO_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NUM_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identificacion" nillable="true" type="tns:Identificacion" />
  <xs:complexType name="CAT_TIPOS_ID">
    <xs:sequence>
      <xs:element name="_x003C_CL_ID_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:ArrayOfIdentificacion" />
      <xs:element name="_x003C_DESC_CARATULAS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DESC_TIPO_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_TIPO_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MASCARA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORDEN_x003E_k__BackingField" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAT_TIPOS_ID" nillable="true" type="tns:CAT_TIPOS_ID" />
  <xs:complexType name="PersonaFisica">
    <xs:sequence>
      <xs:element name="_x003C_ACTIVIDAD_EMPRESARIAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CL_ACTIVIDAD_ECONOMICA_x003E_k__BackingField" nillable="true" type="tns:CAT_ACTIVIDAD_ECONOMICA" />
      <xs:element name="_x003C_CL_CAT_PROFESIONES_x003E_k__BackingField" nillable="true" type="tns:CAT_PROFESIONES" />
      <xs:element name="_x003C_CL_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:Cliente" />
      <xs:element name="_x003C_CL_SECTOR_ECONOMICO_x003E_k__BackingField" nillable="true" type="tns:CAT_SECTOR_ECONOMICO" />
      <xs:element name="_x003C_ESTADO_CIVIL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FEC_NACIMIENTO_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_ID_ACTIVIDADEconomica_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CLIENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_PROFESION_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_SECTOR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IND_SEXO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NACIONALIDAD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NOM_CONYUGUE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRIMER_APELLIDO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRIMER_NOMBRE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SEGUNDO_APELLIDO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SEGUNDO_NOMBRE_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaFisica" nillable="true" type="tns:PersonaFisica" />
  <xs:complexType name="CAT_ACTIVIDAD_ECONOMICA">
    <xs:sequence>
      <xs:element name="_x003C_CL_PERSONAS_FISICAS_x003E_k__BackingField" nillable="true" type="tns:ArrayOfPersonaFisica" />
      <xs:element name="_x003C_CL_PERSONAS_JURIDICAS_x003E_k__BackingField" nillable="true" type="tns:ArrayOfPersonaMoral" />
      <xs:element name="_x003C_DESC_ACTIVIDAD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_ACTIVIDADEconomica_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_ACTIVIDAD_BajaWare_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_DESTINO_DETA_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_destino_deta1_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Id_destino_deta2_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Id_destino_deta3_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Id_destino_deta4_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Id_destino_deta5_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Id_destino_deta6_x003E_k__BackingField" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAT_ACTIVIDAD_ECONOMICA" nillable="true" type="tns:CAT_ACTIVIDAD_ECONOMICA" />
  <xs:complexType name="ArrayOfPersonaFisica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonaFisica" nillable="true" type="tns:PersonaFisica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonaFisica" nillable="true" type="tns:ArrayOfPersonaFisica" />
  <xs:complexType name="ArrayOfPersonaMoral">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonaMoral" nillable="true" type="tns:PersonaMoral" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonaMoral" nillable="true" type="tns:ArrayOfPersonaMoral" />
  <xs:complexType name="PersonaMoral">
    <xs:sequence>
      <xs:element name="_x003C_CL_ACTIVIDAD_ECONOMICA_x003E_k__BackingField" nillable="true" type="tns:CAT_ACTIVIDAD_ECONOMICA" />
      <xs:element name="_x003C_CL_CLASES_SOCIEDAD_x003E_k__BackingField" nillable="true" type="tns:CAT_CLASES_SOCIEDAD" />
      <xs:element name="_x003C_CL_CLIENTES_x003E_k__BackingField" nillable="true" type="tns:Cliente" />
      <xs:element name="_x003C_CL_SECTOR_ECONOMICO_x003E_k__BackingField" nillable="true" type="tns:CAT_SECTOR_ECONOMICO" />
      <xs:element name="_x003C_ID_ACTIVIDADEconomica_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CLASE_SOCIEDAD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CLIENTE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_SECTOR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NACIONALIDAD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NOM_COMERCIAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RAZON_SOCIAL_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaMoral" nillable="true" type="tns:PersonaMoral" />
  <xs:complexType name="CAT_CLASES_SOCIEDAD">
    <xs:sequence>
      <xs:element name="_x003C_CL_PERSONAS_JURIDICAS_x003E_k__BackingField" nillable="true" type="tns:ArrayOfPersonaMoral" />
      <xs:element name="_x003C_DESC_SOCIEDAD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_CLASE_SOCIEDAD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAT_CLASES_SOCIEDAD" nillable="true" type="tns:CAT_CLASES_SOCIEDAD" />
  <xs:complexType name="CAT_SECTOR_ECONOMICO">
    <xs:sequence>
      <xs:element name="_x003C_CL_PERSONAS_FISICAS_x003E_k__BackingField" nillable="true" type="tns:ArrayOfPersonaFisica" />
      <xs:element name="_x003C_CL_PERSONAS_JURIDICAS_x003E_k__BackingField" nillable="true" type="tns:ArrayOfPersonaMoral" />
      <xs:element name="_x003C_DESC_SECTOR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_SECTOR_BajaWare_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_SECTOR_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAT_SECTOR_ECONOMICO" nillable="true" type="tns:CAT_SECTOR_ECONOMICO" />
  <xs:complexType name="CAT_PROFESIONES">
    <xs:sequence>
      <xs:element name="_x003C_CL_PERSONAS_FISICAS_x003E_k__BackingField" nillable="true" type="tns:ArrayOfPersonaFisica" />
      <xs:element name="_x003C_DESC_PROFESION_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_EMPRESA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_PROFESION_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAT_PROFESIONES" nillable="true" type="tns:CAT_PROFESIONES" />
  <xs:complexType name="AllClientData">
    <xs:sequence>
      <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element name="Direccion" nillable="true" type="tns:ArrayOfDireccion" />
      <xs:element name="Identificacion" nillable="true" type="tns:Identificacion" />
      <xs:element name="PersonaFisica" nillable="true" type="tns:PersonaFisica" />
      <xs:element name="PersonaMoral" nillable="true" type="tns:PersonaMoral" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllClientData" nillable="true" type="tns:AllClientData" />
  <xs:complexType name="ArrayOfCAT_CATEG_CLIENTES">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAT_CATEG_CLIENTES" nillable="true" type="tns:CAT_CATEG_CLIENTES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAT_CATEG_CLIENTES" nillable="true" type="tns:ArrayOfCAT_CATEG_CLIENTES" />
  <xs:complexType name="ArrayOfCAT_ACTIVIDAD_ECONOMICA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAT_ACTIVIDAD_ECONOMICA" nillable="true" type="tns:CAT_ACTIVIDAD_ECONOMICA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAT_ACTIVIDAD_ECONOMICA" nillable="true" type="tns:ArrayOfCAT_ACTIVIDAD_ECONOMICA" />
  <xs:complexType name="ArrayOfCAT_PROFESIONES">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAT_PROFESIONES" nillable="true" type="tns:CAT_PROFESIONES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAT_PROFESIONES" nillable="true" type="tns:ArrayOfCAT_PROFESIONES" />
  <xs:complexType name="ArrayOfCAT_SECTOR_ECONOMICO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAT_SECTOR_ECONOMICO" nillable="true" type="tns:CAT_SECTOR_ECONOMICO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAT_SECTOR_ECONOMICO" nillable="true" type="tns:ArrayOfCAT_SECTOR_ECONOMICO" />
  <xs:complexType name="ArrayOfvw_ObtenerDistritos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vw_ObtenerDistritos" nillable="true" type="tns:vw_ObtenerDistritos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvw_ObtenerDistritos" nillable="true" type="tns:ArrayOfvw_ObtenerDistritos" />
  <xs:complexType name="vw_ObtenerDistritos">
    <xs:sequence>
      <xs:element name="_x003C_COD_ID_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_COD_POSTAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DESC_COLONIA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DESC_ESTADO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DESC_MUNICIPIO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DESC_PAIS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_COLONIA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_ESTADO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_MUNICIPIO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_PAIS_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vw_ObtenerDistritos" nillable="true" type="tns:vw_ObtenerDistritos" />
  <xs:complexType name="ArrayOfCAT_TIPOS_ID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAT_TIPOS_ID" nillable="true" type="tns:CAT_TIPOS_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAT_TIPOS_ID" nillable="true" type="tns:ArrayOfCAT_TIPOS_ID" />
  <xs:complexType name="ArrayOfCAT_CLASES_SOCIEDAD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAT_CLASES_SOCIEDAD" nillable="true" type="tns:CAT_CLASES_SOCIEDAD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAT_CLASES_SOCIEDAD" nillable="true" type="tns:ArrayOfCAT_CLASES_SOCIEDAD" />
</xs:schema>