OriginacionMovil/Dlls/Publipayments.Negocios.MYO/Publipayments.Negocios.MYO/Service References/wsClientes/Clientes3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Clientes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Clientes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CcResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditoAutomotrizPago" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreditoHipotecarioPago" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoAPagar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtrosCreditosPago" type="xs:decimal" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="TarjetasCreditoPago" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CcResponse" nillable="true" type="tns:CcResponse" />
</xs:schema>