OriginacionMovil/Dlls/Publipayments.Negocios.MYO/Publipayments.Negocios.MYO/Service References/wsClientes/SAFClientsSrv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SAFClientsSrv" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.75.23:8889/wsClientes/Clientes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.75.23:8889/wsClientes/Clientes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.75.23:8889/wsClientes/Clientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Clientes.DAL" />
      <xsd:import schemaLocation="http://192.168.75.23:8889/wsClientes/Clientes.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Clientes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientes_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetSAFClientInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSAFClientInfo" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetSAFClientInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSAFClientInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_ConsultaOFAC_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaOFAC" />
  </wsdl:message>
  <wsdl:message name="IClientes_ConsultaOFAC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaOFACResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_AvisoListaNegra_InputMessage">
    <wsdl:part name="parameters" element="tns:AvisoListaNegra" />
  </wsdl:message>
  <wsdl:message name="IClientes_AvisoListaNegra_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvisoListaNegraResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetFondeadoresData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFondeadoresData" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetFondeadoresData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFondeadoresDataResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_InsCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_InsCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_InsFondeador_InputMessage">
    <wsdl:part name="parameters" element="tns:InsFondeador" />
  </wsdl:message>
  <wsdl:message name="IClientes_InsFondeador_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsFondeadorResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_ModCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_ModCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_ModFondeador_InputMessage">
    <wsdl:part name="parameters" element="tns:ModFondeador" />
  </wsdl:message>
  <wsdl:message name="IClientes_ModFondeador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModFondeadorResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCategCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCategCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCategClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategClientes" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCategClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatActividadEconomica_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatActividadEconomica" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatActividadEconomica_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatActividadEconomicaResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatActividadesEconomicas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatActividadesEconomicas" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatActividadesEconomicas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatActividadesEconomicasResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatProfesion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatProfesion" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatProfesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatProfesionResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatProfesiones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatProfesiones" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatProfesiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatProfesionesResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatSector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatSector" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatSector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatSectorResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatSectores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatSectores" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatSectores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatSectoresResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetColonias" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetColoniasResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatTiposID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatTiposID" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatTiposID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatTiposIDResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetTiposIdent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTiposIdent" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetTiposIdent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTiposIdentResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatClaseSociedad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatClaseSociedad" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatClaseSociedad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatClaseSociedadResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatClasesSociedad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatClasesSociedad" />
  </wsdl:message>
  <wsdl:message name="IClientes_GetCatClasesSociedad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatClasesSociedadResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_ConsultaEntidadCrediticia_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEntidadCrediticia" />
  </wsdl:message>
  <wsdl:message name="IClientes_ConsultaEntidadCrediticia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEntidadCrediticiaResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientes">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetData" message="tns:IClientes_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetDataResponse" message="tns:IClientes_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCliente" message="tns:IClientes_GetCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetClienteResponse" message="tns:IClientes_GetCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSAFClientInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetSAFClientInfo" message="tns:IClientes_GetSAFClientInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetSAFClientInfoResponse" message="tns:IClientes_GetSAFClientInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaOFAC">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ConsultaOFAC" message="tns:IClientes_ConsultaOFAC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ConsultaOFACResponse" message="tns:IClientes_ConsultaOFAC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvisoListaNegra">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/AvisoListaNegra" message="tns:IClientes_AvisoListaNegra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/AvisoListaNegraResponse" message="tns:IClientes_AvisoListaNegra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFondeadoresData">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetFondeadoresData" message="tns:IClientes_GetFondeadoresData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetFondeadoresDataResponse" message="tns:IClientes_GetFondeadoresData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/InsCliente" message="tns:IClientes_InsCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/InsClienteResponse" message="tns:IClientes_InsCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsFondeador">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/InsFondeador" message="tns:IClientes_InsFondeador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/InsFondeadorResponse" message="tns:IClientes_InsFondeador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ModCliente" message="tns:IClientes_ModCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ModClienteResponse" message="tns:IClientes_ModCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModFondeador">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ModFondeador" message="tns:IClientes_ModFondeador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ModFondeadorResponse" message="tns:IClientes_ModFondeador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCategCliente" message="tns:IClientes_GetCategCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCategClienteResponse" message="tns:IClientes_GetCategCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCategClientes" message="tns:IClientes_GetCategClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCategClientesResponse" message="tns:IClientes_GetCategClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatActividadEconomica">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatActividadEconomica" message="tns:IClientes_GetCatActividadEconomica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatActividadEconomicaResponse" message="tns:IClientes_GetCatActividadEconomica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatActividadesEconomicas">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatActividadesEconomicas" message="tns:IClientes_GetCatActividadesEconomicas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatActividadesEconomicasResponse" message="tns:IClientes_GetCatActividadesEconomicas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatProfesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatProfesion" message="tns:IClientes_GetCatProfesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatProfesionResponse" message="tns:IClientes_GetCatProfesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatProfesiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatProfesiones" message="tns:IClientes_GetCatProfesiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatProfesionesResponse" message="tns:IClientes_GetCatProfesiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatSector">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatSector" message="tns:IClientes_GetCatSector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatSectorResponse" message="tns:IClientes_GetCatSector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatSectores">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatSectores" message="tns:IClientes_GetCatSectores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatSectoresResponse" message="tns:IClientes_GetCatSectores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetColonias" message="tns:IClientes_GetColonias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetColoniasResponse" message="tns:IClientes_GetColonias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatTiposID">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatTiposID" message="tns:IClientes_GetCatTiposID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatTiposIDResponse" message="tns:IClientes_GetCatTiposID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTiposIdent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetTiposIdent" message="tns:IClientes_GetTiposIdent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetTiposIdentResponse" message="tns:IClientes_GetTiposIdent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatClaseSociedad">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatClaseSociedad" message="tns:IClientes_GetCatClaseSociedad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatClaseSociedadResponse" message="tns:IClientes_GetCatClaseSociedad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatClasesSociedad">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/GetCatClasesSociedad" message="tns:IClientes_GetCatClasesSociedad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/GetCatClasesSociedadResponse" message="tns:IClientes_GetCatClasesSociedad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEntidadCrediticia">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ConsultaEntidadCrediticia" message="tns:IClientes_ConsultaEntidadCrediticia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ConsultaEntidadCrediticiaResponse" message="tns:IClientes_ConsultaEntidadCrediticia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientes" type="tns:IClientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSAFClientInfo">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetSAFClientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaOFAC">
      <soap:operation soapAction="http://tempuri.org/IClientes/ConsultaOFAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvisoListaNegra">
      <soap:operation soapAction="http://tempuri.org/IClientes/AvisoListaNegra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFondeadoresData">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetFondeadoresData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/InsCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsFondeador">
      <soap:operation soapAction="http://tempuri.org/IClientes/InsFondeador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/ModCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModFondeador">
      <soap:operation soapAction="http://tempuri.org/IClientes/ModFondeador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCategCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategClientes">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCategClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatActividadEconomica">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatActividadEconomica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatActividadesEconomicas">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatActividadesEconomicas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatProfesion">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatProfesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatProfesiones">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatProfesiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatSector">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatSector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatSectores">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatSectores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColonias">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetColonias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatTiposID">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatTiposID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiposIdent">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetTiposIdent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatClaseSociedad">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatClaseSociedad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatClasesSociedad">
      <soap:operation soapAction="http://tempuri.org/IClientes/GetCatClasesSociedad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEntidadCrediticia">
      <soap:operation soapAction="http://tempuri.org/IClientes/ConsultaEntidadCrediticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SAFClientsSrv">
    <wsdl:port name="BasicHttpBinding_IClientes" binding="tns:BasicHttpBinding_IClientes">
      <soap:address location="http://192.168.75.23:8889/wsClientes/Clientes.svc/http" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>