Proyectos Trabajos/FreeLance/Suncorp/Aplicacion/Suncorp/Suncorp.ServiceController/Connected Services/DireccionesWcf/DireccionesWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DireccionesWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8328/ServiciosWcf/DireccionesWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8328/ServiciosWcf/DireccionesWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8328/ServiciosWcf/DireccionesWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Suncorp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDireccionesWcf_ObtenerTablaDirCatEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaDirCatEstado" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ObtenerTablaDirCatEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaDirCatEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_InsertarDirCatEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDirCatEstado" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_InsertarDirCatEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDirCatEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ActualizarDirCatEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDirCatEstado" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ActualizarDirCatEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDirCatEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_EliminarDirCatEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDirCatEstado" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_EliminarDirCatEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDirCatEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ObtenerTablaDirCatMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaDirCatMunicipios" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ObtenerTablaDirCatMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaDirCatMunicipiosResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_InsertarDirCatMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDirCatMunicipios" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_InsertarDirCatMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDirCatMunicipiosResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ActualizarDirCatMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDirCatMunicipios" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ActualizarDirCatMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDirCatMunicipiosResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_EliminarDirCatMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDirCatMunicipios" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_EliminarDirCatMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDirCatMunicipiosResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ObtenerTablaDirCatColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaDirCatColonias" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ObtenerTablaDirCatColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaDirCatColoniasResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_InsertarDirCatColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDirCatColonias" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_InsertarDirCatColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDirCatColoniasResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ActualizarDirCatColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDirCatColonias" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ActualizarDirCatColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDirCatColoniasResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_EliminarDirCatColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDirCatColonias" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_EliminarDirCatColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDirCatColoniasResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ObtenerTablaDirDirecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaDirDirecciones" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ObtenerTablaDirDirecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaDirDireccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_InsertarDirDirecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDirDirecciones" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_InsertarDirDirecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDirDireccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ActualizarDirDirecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDirDirecciones" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_ActualizarDirDirecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDirDireccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_EliminarDirDirecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDirDirecciones" />
  </wsdl:message>
  <wsdl:message name="IDireccionesWcf_EliminarDirDirecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDirDireccionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDireccionesWcf">
    <wsdl:operation name="ObtenerTablaDirCatEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatEstado" message="tns:IDireccionesWcf_ObtenerTablaDirCatEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatEstadoResponse" message="tns:IDireccionesWcf_ObtenerTablaDirCatEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDirCatEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/InsertarDirCatEstado" message="tns:IDireccionesWcf_InsertarDirCatEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/InsertarDirCatEstadoResponse" message="tns:IDireccionesWcf_InsertarDirCatEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDirCatEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/ActualizarDirCatEstado" message="tns:IDireccionesWcf_ActualizarDirCatEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/ActualizarDirCatEstadoResponse" message="tns:IDireccionesWcf_ActualizarDirCatEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDirCatEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/EliminarDirCatEstado" message="tns:IDireccionesWcf_EliminarDirCatEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/EliminarDirCatEstadoResponse" message="tns:IDireccionesWcf_EliminarDirCatEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaDirCatMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatMunicipios" message="tns:IDireccionesWcf_ObtenerTablaDirCatMunicipios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatMunicipiosResponse" message="tns:IDireccionesWcf_ObtenerTablaDirCatMunicipios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDirCatMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/InsertarDirCatMunicipios" message="tns:IDireccionesWcf_InsertarDirCatMunicipios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/InsertarDirCatMunicipiosResponse" message="tns:IDireccionesWcf_InsertarDirCatMunicipios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDirCatMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/ActualizarDirCatMunicipios" message="tns:IDireccionesWcf_ActualizarDirCatMunicipios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/ActualizarDirCatMunicipiosResponse" message="tns:IDireccionesWcf_ActualizarDirCatMunicipios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDirCatMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/EliminarDirCatMunicipios" message="tns:IDireccionesWcf_EliminarDirCatMunicipios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/EliminarDirCatMunicipiosResponse" message="tns:IDireccionesWcf_EliminarDirCatMunicipios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaDirCatColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatColonias" message="tns:IDireccionesWcf_ObtenerTablaDirCatColonias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatColoniasResponse" message="tns:IDireccionesWcf_ObtenerTablaDirCatColonias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDirCatColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/InsertarDirCatColonias" message="tns:IDireccionesWcf_InsertarDirCatColonias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/InsertarDirCatColoniasResponse" message="tns:IDireccionesWcf_InsertarDirCatColonias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDirCatColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/ActualizarDirCatColonias" message="tns:IDireccionesWcf_ActualizarDirCatColonias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/ActualizarDirCatColoniasResponse" message="tns:IDireccionesWcf_ActualizarDirCatColonias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDirCatColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/EliminarDirCatColonias" message="tns:IDireccionesWcf_EliminarDirCatColonias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/EliminarDirCatColoniasResponse" message="tns:IDireccionesWcf_EliminarDirCatColonias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaDirDirecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirDirecciones" message="tns:IDireccionesWcf_ObtenerTablaDirDirecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirDireccionesResponse" message="tns:IDireccionesWcf_ObtenerTablaDirDirecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDirDirecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/InsertarDirDirecciones" message="tns:IDireccionesWcf_InsertarDirDirecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/InsertarDirDireccionesResponse" message="tns:IDireccionesWcf_InsertarDirDirecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDirDirecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/ActualizarDirDirecciones" message="tns:IDireccionesWcf_ActualizarDirDirecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/ActualizarDirDireccionesResponse" message="tns:IDireccionesWcf_ActualizarDirDirecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDirDirecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IDireccionesWcf/EliminarDirDirecciones" message="tns:IDireccionesWcf_EliminarDirDirecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDireccionesWcf/EliminarDirDireccionesResponse" message="tns:IDireccionesWcf_EliminarDirDirecciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDireccionesWcf" type="tns:IDireccionesWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTablaDirCatEstado">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDirCatEstado">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/InsertarDirCatEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDirCatEstado">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/ActualizarDirCatEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDirCatEstado">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/EliminarDirCatEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaDirCatMunicipios">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatMunicipios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDirCatMunicipios">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/InsertarDirCatMunicipios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDirCatMunicipios">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/ActualizarDirCatMunicipios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDirCatMunicipios">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/EliminarDirCatMunicipios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaDirCatColonias">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirCatColonias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDirCatColonias">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/InsertarDirCatColonias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDirCatColonias">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/ActualizarDirCatColonias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDirCatColonias">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/EliminarDirCatColonias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaDirDirecciones">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/ObtenerTablaDirDirecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDirDirecciones">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/InsertarDirDirecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDirDirecciones">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/ActualizarDirDirecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDirDirecciones">
      <soap:operation soapAction="http://tempuri.org/IDireccionesWcf/EliminarDirDirecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DireccionesWcf">
    <wsdl:port name="BasicHttpBinding_IDireccionesWcf" binding="tns:BasicHttpBinding_IDireccionesWcf">
      <soap:address location="http://localhost:8328/ServiciosWcf/DireccionesWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>