Proyectos Trabajos/FreeLance/Suncorp/Aplicacion/Suncorp/Suncorp.ServiceController/Connected Services/DireccionesWcf/DireccionesWcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8328/ServiciosWcf/DireccionesWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Suncorp.Models" />
  <xs:element name="ObtenerTablaDirCatEstado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaDirCatEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="ObtenerTablaDirCatEstadoResult" nillable="true" type="q1:ArrayOfDirCatEstados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDirCatEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q2:DirCatEstados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDirCatEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="InsertarDirCatEstadoResult" nillable="true" type="q3:DirCatEstados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDirCatEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q4:DirCatEstados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDirCatEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarDirCatEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDirCatEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q5:DirCatEstados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDirCatEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDirCatEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaDirCatMunicipios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaDirCatMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="ObtenerTablaDirCatMunicipiosResult" nillable="true" type="q6:ArrayOfDirCatMunicipios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDirCatMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q7:DirCatMunicipios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDirCatMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="InsertarDirCatMunicipiosResult" nillable="true" type="q8:DirCatMunicipios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDirCatMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q9:DirCatMunicipios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDirCatMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarDirCatMunicipiosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDirCatMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q10:DirCatMunicipios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDirCatMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDirCatMunicipiosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaDirCatColonias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaDirCatColoniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="ObtenerTablaDirCatColoniasResult" nillable="true" type="q11:ArrayOfDirCatColonias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDirCatColonias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q12:DirCatColonias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDirCatColoniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="InsertarDirCatColoniasResult" nillable="true" type="q13:DirCatColonias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDirCatColonias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q14:DirCatColonias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDirCatColoniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarDirCatColoniasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDirCatColonias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q15:DirCatColonias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDirCatColoniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDirCatColoniasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaDirDirecciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaDirDireccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="ObtenerTablaDirDireccionesResult" nillable="true" type="q16:ArrayOfDirDirecciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDirDirecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q17:DirDirecciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDirDireccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="InsertarDirDireccionesResult" nillable="true" type="q18:DirDirecciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDirDirecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q19:DirDirecciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDirDireccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarDirDireccionesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDirDirecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Suncorp.Models" minOccurs="0" name="model" nillable="true" type="q20:DirDirecciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDirDireccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDirDireccionesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>