OriginacionMovil/IInfonavit/Service References/InfonavitPrecalifica2/WSPrecalificacionMejoravitApp.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="PrecaMejoravit">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="nss" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="pensionPensionAlimenticia" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="NombreOficina" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="Oficina" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="PrecaMejoravitResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="PrecaMejoravitResult" type="tns:WsRespuestaPreca" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="WsRespuestaPreca">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="WSidMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSMensaje" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSGastosApertura" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSNombreTitular" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSNumPlazos" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WS_Ocur" type="tns:ArrayOfWsRespuestaPlazos" />
      <s:element minOccurs="0" maxOccurs="1" name="WSNumRegistroPatronal" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSPuntMin" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSPuntTotal" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSCurp" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSRFC" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSNombreEmpresa" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="WSTasaInteres" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="ArrayOfWsRespuestaPlazos">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="unbounded" name="WsRespuestaPlazos" nillable="true" type="tns:WsRespuestaPlazos" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="WsRespuestaPlazos">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="Plazo" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Contarias" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="PagoMensual" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="MontoCredito" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="MontoManoObra" type="s:string" />
    </s:sequence>
  </s:complexType>
</s:schema>