OriginacionMovil/wsServices01800/Service References/ServiceReference1/serviciosMock2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54497/serviciosMock.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviciosMock.Classes" />
  <xs:element name="PrecaMejoravit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ws_nss" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ws_pen_alim" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreOficina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oficina" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecaMejoravitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/serviciosMock.Classes" minOccurs="0" name="PrecaMejoravitResult" nillable="true" type="q1:WsRespuestaPreca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>