OriginacionMovil/wsServices01800/Service References/ServiceReference1/serviciosMock.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/serviciosMock.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/serviciosMock.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WsRespuestaPreca">
    <xs:sequence>
      <xs:element minOccurs="0" name="WSCurp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSGastosApertura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSNombreEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSNombreTitular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSNumPlazos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSNumRegistroPatronal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSPuntMin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSPuntTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSRFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSTasaInteres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WS_Ocur" nillable="true" type="tns:ArrayOfWsRespuestaPlazos" />
      <xs:element minOccurs="0" name="WSidMensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsRespuestaPreca" nillable="true" type="tns:WsRespuestaPreca" />
  <xs:complexType name="ArrayOfWsRespuestaPlazos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WsRespuestaPlazos" nillable="true" type="tns:WsRespuestaPlazos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWsRespuestaPlazos" nillable="true" type="tns:ArrayOfWsRespuestaPlazos" />
  <xs:complexType name="WsRespuestaPlazos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contarias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoManoObra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagoMensual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plazo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsRespuestaPlazos" nillable="true" type="tns:WsRespuestaPlazos" />
</xs:schema>