OriginacionMovil/IInfonavit/Service References/Infonavit/cremtcws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:reqns="http://www.SOCLDR12.COPYRTHE.Request.com" xmlns:resns="http://www.SOCLDR12.COPYRTHE.Response.com" xmlns:tns="http://www.SOCLDR12.COPYRTHE.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.SOCLDR12.COPYRTHE.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:tns="http://www.SOCLDR12.COPYRTHE.Request.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.SOCLDR12.COPYRTHE.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="ProgramInterface" final="#all" block="#all">
        <xsd:annotation>
          <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by CICS(TM).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ws_entrada">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ws_nss">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:29 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="11" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_proceso">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:29 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_pen_alim">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:29 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SOCLDR12Operation" type="tns:ProgramInterface" />
    </xsd:schema>
    <xsd:schema xmlns:tns="http://www.SOCLDR12.COPYRTHE.Response.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.SOCLDR12.COPYRTHE.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="ProgramInterface" final="#all" block="#all">
        <xsd:annotation>
          <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by CICS(TM).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ws_salida">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ws_codigo">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:31 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_mensaje">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:31 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="80" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_nrp_pun">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:31 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="11" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_rfc">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:31 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="13" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_nom">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:31 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="45" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_pat">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:32 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="45" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_mat">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:32 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="45" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_sex">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:32 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_eda">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:32 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_curp">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:32 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="18" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_edo_muni">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:32 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="5" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_edo_mun_nom">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:33 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_pun_cal">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:34 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_smd_df">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:34 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="7" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_sal_dia_mon">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:36 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_sal_dia_pun">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:36 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_est_sol">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:37 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_sdo_s92">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:37 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_sdo_s97">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:37 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_sdo_sar">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:37 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_bim_fdo">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_bim_sar">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_ano_bim_top">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="5" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_eda_sal_pto">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_sdo_sar_pto">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_bim_sar_pto">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_tot_pto">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_tot_ir">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="5" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_tas_int">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="6" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ws_num_plazos">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="20" maxOccurs="20" name="ws_ocur">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ws_plazo">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2" />
                            <xsd:whiteSpace value="preserve" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ws_mto_credo">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                            <xsd:whiteSpace value="preserve" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ws_pago">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                            <xsd:whiteSpace value="preserve" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ws_contarias">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                            <xsd:whiteSpace value="preserve" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ws_gastos">
                  <xsd:simpleType>
                    <xsd:annotation>
                      <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:38 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10" />
                      <xsd:whiteSpace value="preserve" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SOCLDR12OperationResponse" type="tns:ProgramInterface" />
    </xsd:schema>
  </types>
  <message name="SOCLDR12OperationResponse">
    <part name="ResponsePart" element="resns:SOCLDR12OperationResponse" />
  </message>
  <message name="SOCLDR12OperationRequest">
    <part name="RequestPart" element="reqns:SOCLDR12Operation" />
  </message>
  <portType name="SOCLDR12Port">
    <operation name="SOCLDR12Operation">
      <input name="SOCLDR12OperationRequest" message="tns:SOCLDR12OperationRequest" />
      <output name="SOCLDR12OperationResponse" message="tns:SOCLDR12OperationResponse" />
    </operation>
  </portType>
  <binding name="SOCLDR12HTTPSoapBinding" type="tns:SOCLDR12Port">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="SOCLDR12Operation">
      <soap:operation soapAction="" style="document" />
      <input name="SOCLDR12OperationRequest">
        <soap:body use="literal" parts="RequestPart" />
      </input>
      <output name="SOCLDR12OperationResponse">
        <soap:body use="literal" parts="ResponsePart" />
      </output>
    </operation>
  </binding>
  <service name="SOCLDR12Service">
    <port name="SOCLDR12Port" binding="tns:SOCLDR12HTTPSoapBinding">
      <soap:address location="https://201.134.132.139:7443/WebService/cremtcws" />
    </port>
  </service>
</definitions>