OriginacionMovil/IInfonavit/Service References/Infonavit/cremtcwsprod.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.SOCLDR12.COPYRTHE.Request.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:resns="http://www.SOCLDR12.COPYRTHE.Response.com" xmlns:reqns="http://www.SOCLDR12.COPYRTHE.Request.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.SOCLDR12.COPYRTHE.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ProgramInterface" final="#all" block="#all">
    <xsd:annotation>
      <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by CICS(TM).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ws_entrada">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ws_nss">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:29 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="11" />
                  <xsd:whiteSpace value="preserve" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ws_proceso">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:29 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1" />
                  <xsd:whiteSpace value="preserve" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ws_pen_alim">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Sep 13 13:47:29 EDT 2013
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10" />
                  <xsd:whiteSpace value="preserve" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SOCLDR12Operation" type="reqns:ProgramInterface" />
</xsd:schema>